.container{
	width: 75%;
	margin: auto;
}

.subpages{
	width: 75%;
	float:right;
	padding:15px;
	box-sizing: border-box;
}

#sidebar a{
	text-decoration: none;
	color: #0071bc;	
}

#sidebar{
	font: 14px Verdana;
	float:left;
	width:25%;
	background-color:#ededed;
	color:#333;
	padding:25px;
	margin: 40px 0px;
	box-sizing: border-box;
	position: relative;
}

#sidebar p{
	padding-bottom: 10px;
}

#sidebar h3{
	font: 15px Verdana;
	font-weight: bold;
}


#links a{
	text-decoration: none;
	color: #333;
}


div{
	display: block;
}

body header footer{
	direction: ltr;
}
 
 footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #333;
	color: white;
	text-align: center;
	font: 14px Verdana;
	padding-bottom: 20px;
 }
 
header{
	top: 0;
	left: 0;
	right: 0;
	background: #0071bc;
    color: #fff;
	padding: 5px 0px 65px 0px;
}

#footer-text{
	background-color: #333;
	float: center;
	text-align: justify;
}

#footer-text a{
	text-decoration: none;
	color: #fff;
}

#main-title{
	float: left;
    font: 35px Verdana;
	color: #fff;
	background: #0071bc;
	line-height: 60px;
}

#navbar{
	float: right;
	padding: 5px 0px 0px 0px;
}

#navbar ul{
 	text-transform: uppercase;
	list-style-type: none;
}

#navbar li{
	display: inline;
}

#navbar a{
	font: 15px Verdana;
	color: #fff;
	text-decoration: none;
	padding: 0px 10px;
	background: #0071bc;
}

nav{
	background: #ededed;
    color: #fff;
	padding: 5px 0px 5px 0px;
	float: center;
}

#subnavbar ul{
 	text-transform: uppercase;
	list-style-type: none;
	float: center;
}

#subnavbar li{
	display: inline;
	padding: 0px 55px;
}

#subnavbar li:first-child{
	padding: 0px 55px 0px 0px;
}
#subnavbar li:last-child{
	padding: 0px 0px 0px 55px;
}

#subnavbar a{
	font: 13px Verdana, sans-serif;
	color: #333333;
	text-decoration: none;
}

h1{
	text-align: center;
	color: #333;
	padding: 10px 0px;
	font: 20px bold Verdana, sans-serif;
	border-bottom: 1px solid #d7d7d7;
	font-weight: bold;
    margin-top: 14px;
}

.plot-box{
	width: 25%;
	max-width: 300px;
	height: auto;
	position: relative;
	margin: 10px;
	justify-content: center;
	align-content: center;
}
.plot-row {
	text-align: center;
	display: flex;
}

.plot-row a{
	text-decoration: none;
}