 

/************* FOOTER ******************************/

 footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #333;
	color: white;
	text-align: center;
	font: 14px Verdana;
	padding-bottom: 20px;
 }
 
#footer-text{
	background-color: #333;
	float: center;
	text-align: justify;
}

#footer-text a{
	text-decoration: none;
	color: #fff;
}


h1{
	text-align: center;
	color: #333;
	padding: 10px 0px;
	font: 20px bold Verdana, sans-serif;
	border-bottom: 1px solid #d7d7d7;
	font-weight: bold;
    margin-top: 14px;
}

/*************** IMAGES *******************/

.plot-box{
	width: 25%;
	max-width: 300px;
}