
h1{
	text-align: center;
	color: #333;
	padding: 20px 5px;
	font: 30px bold Verdana, sans-serif;
	border-bottom: 1px solid #d7d7d7;
	font-weight: bold;
    margin-top: 14px;
	background-color: #fff;
}



/*************** IMAGES *******************/
.plot-box{
	width: 30%;
	border: 0px solid #ededed;
	display: flex;
	position:relative
}

/* Zoom images on hover */
.plot-box:hover{
	transform: scale(2);
	z-index: 9999;
	position:relative
}

img{
	width: 100%;
	: 100%;
}

iframe{
	position: relative;
	max-width: 100%;
	max-height: 100%;
}
